/* Rendered TipTap content styles */
.tiptap-content p {
  margin: 0.75em 0;
  min-height: 1.5em;
}

.tiptap-content p:first-child {
  margin-top: 0;
}

.tiptap-content p:last-child {
  margin-bottom: 0;
}

.tiptap-content ul,
.tiptap-content ol {
  padding-left: 1.5rem;
  margin: 0.75em 0;
}

.tiptap-content ul {
  list-style-type: disc;
}

.tiptap-content ol {
  list-style-type: decimal;
}

.tiptap-content li {
  margin: 0.25em 0;
}

.tiptap-content strong {
  font-weight: 600;
}

.tiptap-content em {
  font-style: italic;
}

.tiptap-content s {
  text-decoration: line-through;
}

.tiptap-content br {
  display: block;
  content: "";
  margin-top: 0;
}
