.notification-item {
  cursor: pointer;
  transition: background-color 0.2s;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.notification-item:last-child {
  border-bottom: 0;
}

.notification-item:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
